<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/recent">recent</a></li>
		        	<li><a href="/research">research</a></li>
				<li><a href="/teaching">teaching</a></li>
	        		<li><a href="/blog">blog</a></li>
				<li><a href="/links">links</a></li>
				<li><a href="/csn">CSN</a></li>
				<li><a href="/ices">ICES</a></li>
				<li><a href="/ifree">IFREE</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li>Kevin McCabe</li>
	        		<li><a href="mailto:kmccabe@gmu.edu">email</a></li>
	        		<li><a href="https://github.com/kmccabe">github.com/kmccabe</a></li>
				</ul>
			</footer>
		</body>
	</html>
  
